# Python
__pycache__/
*.py[cod]
*.so
.pytest_cache/

# Environments
.venv/
venv/
.env
.env.*
.env.example


# Editors/OS
.DS_Store
.idea/
.vscode/

# App artifacts
ui_uploads/
ui_outputs/
aliexpress_downloads/
_work/
_work_pdf/

# Videos and large outputs
*.mp4
*.webm

fonts/*
Archive/*
assets/*
editor/node_modules/
projects/
editor/.next/
editor/.env.local
editor/
editor/*
node_modules/*
docs/*
editor/.next/*
